:root{
    --red: hsl(0, 100%, 68%);
    --Very-dark-blue: hsl(230, 29%, 20%);
    --dark-grayish-blue: hsl(230, 11%, 40%);
    --grayish-blue: hsl(231, 7%, 65%);
    --light-grayish-blue: hsl(207, 33%, 95%);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    overflow-x: hidden;
}
body::after{
    content: "";
    background-color: var(--light-grayish-blue);
    height: 60vh;
    width: 50vw;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 30%;
    z-index: -2;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
/* .logo{

} */
.nav__list{
    display: none;
}
/* .nav__list__item{

}
.nav__menu{

}
.main{

} */
.images{
    height: 70%;
    margin: 0 0 5em 0;
}
.devices{
    width: 150%;
}
.main{
    /* display: flex;
    flex-direction: column; */
    margin: 0 0 0 10%;
}
.header__subtitle{
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--grayish-blue);
    letter-spacing: 0.1rem;
}
.header__subtitle--important{
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--Very-dark-blue);
    border: none;
    border-radius: 25%;
    padding: 0.5em 0.7em;
    margin-right: 10px;
   
}
.header__title{
    font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
    color: var(--Very-dark-blue);
    margin: 1em 0;

}
.main__text{
    text-transform: lowercase;
    text-transform: initial;
    color: var(--Very-dark-blue);
    margin-bottom: 0.5em;
}
.main__btn{
    color: white;
    background-color: var(--red);
    border: none;
    border-radius: 10px;
    padding: 0.6em;
    margin: 0.5em 0;
    width: 40%;
    text-transform: uppercase;
}
.main__tag{
    color: var(--grayish-blue);
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
}

@media screen and (min-width: 480px){
    .container{
        width: 100%;
        /* margin: 0 auto; */
    }
    .section{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        /* overflow-x: hidden; */
    }
    .nav__menu{
        display: none;
    }
    .nav__list{
        width: 40%;
        display: flex;
        list-style: none;
        justify-content: space-between;      
        }
    body::after{
        height: 50vh;
        width: 47vw;

    }
    .main{
        margin: 10%;
        width: 50%;
    }
    .nav__list__item a {
        text-decoration: none;
        color: var(--Very-dark-blue);
    }
    .nav__list{
        position: relative;
    }

    .nav__list__item:last-of-type a {
       color: var(--grayish-blue);
       margin-left: 55px;
    }
    .nav__list__item:last-of-type a::before{
        content: "\00B7";
        font-size: 70px;
        position: absolute;
        right: 100px;
        bottom: -22px;
    }

    .logo {
        margin-left: 6.5em;
    }
    .devices{
        margin-top: 4em;
    }
    .header__title{
        font-size: 3rem;
        margin-top: 0.3em; 
        width: 90%;
    }
    .header__subtitle{
        font-size: 1.5rem;
        word-spacing: 0.5em;
    }

    .main__text{
        font-size: 1.5rem;
        width:80%;
        margin-top: 1.5;
        margin-bottom: 1.5em;
    }
    .main__btn{
        margin-right: 2em;
        text-transform: uppercase;
    }
    .main__tag{
        font-size: 0.8rem;
        word-spacing: 0.5em;
    }

    
 

}